.banner{
  background-color:#FFF7E4;
  border-radius: 10px;
}
.banner_head1{
  font-size: 4em;
  color: #323FC1;
}
.banner_head1 ::selection{
  background-color:#b88400 ;
}
.banner_head2{
color: #323FC1;

}
.banner-para{
  color:  #b88400;
}
.banner_btn{
  border: none;
  background: none;
}
.number-btn{
  border: none;
 color: #b88400;
  border-radius: 30px;
  height: 30px;

}
.display{
  height: 100px;
  width: 200px;

 color: #323FC1;
}
.clean_btn{
  background: none;

  border: #323FC1;
  border-radius: 50%;
}
.random_btn{
  background: none;
  border: 2px solid #323FC1;
  border: #323FC1;

}